
Sona/Assembly-CSharp.csproj
Sona/Assembly-CSharp.csproj
Sona/Library/CurrentLayout.dwlt
Sona/Library/EditorInstance.json
Sona/Library/ScriptAssemblies/Assembly-CSharp.dll
Sona/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Sona/Library/assetDatabase3
Sona/Library/metadata/04/04afa35fdb81d4a08b7ebdd25bac2825
Sona/Library/metadata/15/15c0136921f8c40a5b5a9b00b6c7d0a0
Sona/Library/metadata/24/2402a5ae8735d4ef3af696ecd23cd543.info
Sona/Library/metadata/45/4521bde8a993c4bc9968346fdc5016d3.info
Sona/Library/metadata/56/564f66c1e6f5c44be94ec04d8e9e32cb.info
Sona/Library/metadata/be/be7a7babd9cd54f749ba7f84346f3f9f
Sona/Library/metadata/ca/ca6572a3eaef848ddb3a7ba4f078f7d7.info
Sona/Temp/__Backupscenes/0.backup
*.backup
*.cache
Sona/Library/metadata/ca/caa6a33e5875243aba958e7fc270a39f
Sona/Library/metadata/24/2402a5ae8735d4ef3af696ecd23cd543
