Sona/Library/*
Sona/Assembly-CSharp.csproj
Sona/Assembly-CSharp.csproj
Sona/Temp/*
*.backup
*.cache
Sona/.vs/*
Sona/Library/*
Sona/Library/ScriptAssemblies/Assembly-CSharp.dll
Sona/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Sona/Library/assetDatabase3
Sona/Library/expandedItems
Sona/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
